@model MTS.Data.Entities.Call

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Звонок</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Client.Id" class="control-label">Клиент</label>
				<select asp-for="Client.Id" class="form-control" asp-items="ViewBag.Clients"></select>
			</div>
			<div class="form-group">
				<label asp-for="Cost.Id" class="control-label">Населённый пункт</label>
				<select asp-for="Cost.Id" class="form-control" asp-items="ViewBag.Costs"></select>
			</div>
			<div class="form-group">
				<label asp-for="DateStart" class="control-label">Время начала</label>
				<input type="datetime-local" asp-for="DateStart" class="form-control" />
				<span asp-validation-for="DateStart" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DateEnd" class="control-label">Время конца</label>
				<input type="datetime-local" asp-for="DateEnd" class="form-control" />
				<span asp-validation-for="DateEnd" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
	<a asp-action="Index">Вернутся к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
